@font-face {
    font-family: pixel;
    src: url(czcionki/VCR_OSD_MONO_1.001.ttf)
}

@font-face {
    font-family: pixelDialogue;
    src: url(czcionki/Pixellari.ttf)
}

@keyframes end {
    0% {opacity:0}
    100% {opacity:1}
}

@keyframes dogEnemyRunLeft {
    0% {background-image: url(misc/dog/dogRunLeft.png);}
    25% {background-image: url(misc/dog/dogRunLeft2.png);}
    50% {background-image: url(misc/dog/dogRunLeft3.png);}
    75% {background-image: url(misc/dog/dogRunLeft2.png);}
    100% {background-image: url(misc/dog/dogRunLeft.png);}
}

@keyframes dogEnemyRunRight {
    0% {background-image: url(misc/dog/dogRunRight.png);}
    25% {background-image: url(misc/dog/dogRunRight2.png);}
    50% {background-image: url(misc/dog/dogRunRight3.png);}
    75% {background-image: url(misc/dog/dogRunRight2.png);}
    100% {background-image: url(misc/dog/dogRunRight.png);}
}

@keyframes grassAnimation {
    12.5% {background-image: url(misc/grass1new.png);}
    25% {background-image: url(misc/grass2new.png);}
    37.5% {background-image: url(misc/grass3new.png);}
    50% {background-image: url(misc/grass4new.png);}
    62.5% {background-image: url(misc/grass5new.png);}
    75% {background-image: url(misc/grass6new.png);}
    87.5% {background-image: url(misc/grass7new.png);}
    100% {background-image: url(misc/grass8new.png);}
}

@keyframes grassAnimationSmall {
    12.5% {background-image: url(misc/misc_old/grassSmall1.png);}
    25% {background-image: url(misc/misc_old/grassSmall2.png);}
    37.5% {background-image: url(misc/misc_old/grassSmall3.png);}
    50% {background-image: url(misc/misc_old/grassSmall4.png);}
    62.5% {background-image: url(misc/misc_old/grassSmall5.png);}
    75% {background-image: url(misc/misc_old/grassSmall6.png);}
    87.5% {background-image: url(misc/misc_old/grassSmall7.png);}
    100% {background-image: url(misc/misc_old/grassSmall8.png);}
}

@keyframes catAnimation {
    0% {background-image: url(misc/misc_old/Kot1.png);}
    10% {background-image: url(misc/misc_old/Kot2.png);}
    20% {background-image: url(misc/misc_old/Kot3.png);}
    30% {background-image: url(misc/misc_old/Kot4.png);}
    40% {background-image: url(misc/misc_old/Kot5.png);}
    50% {background-image: url(misc/misc_old/Kot6.png);}
    60% {background-image: url(misc/misc_old/Kot7.png);}
    70% {background-image: url(misc/misc_old/Kot8.png);}
    80% {background-image: url(misc/misc_old/Kot9.png);}
    90% {background-image: url(misc/misc_old/Kot10.png);}
    100% {background-image: url(misc/misc_old/Kot11.png);}
}

@keyframes strzalkaLewo {
    0% {background-image: url(misc/strzalkaLewa1.png)}
    10% {background-image: url(misc/strzalkaLewa1.png)}
    20% {background-image: url(misc/strzalkaLewa2.png)}
    30% {background-image: url(misc/strzalkaLewa3.png)}
    40% {background-image: url(misc/strzalkaLewa4.png)}
    50% {background-image: url(misc/strzalkaLewa5.png)}
    60% {background-image: url(misc/strzalkaLewa5.png)}
    70% {background-image: url(misc/strzalkaLewa4.png)}
    80% {background-image: url(misc/strzalkaLewa3.png)}
    90% {background-image: url(misc/strzalkaLewa2.png)}
    100% {background-image: url(misc/strzalkaLewa1.png)}
}

@keyframes strzalkaPrawo {
    0% {background-image: url(misc/strzalkaPrawa1.png)}
    10% {background-image: url(misc/strzalkaPrawa1.png)}
    20% {background-image: url(misc/strzalkaPrawa2.png)}
    30% {background-image: url(misc/strzalkaPrawa3.png)}
    40% {background-image: url(misc/strzalkaPrawa4.png)}
    50% {background-image: url(misc/strzalkaPrawa5.png)}
    60% {background-image: url(misc/strzalkaPrawa5.png)}
    70% {background-image: url(misc/strzalkaPrawa4.png)}
    80% {background-image: url(misc/strzalkaPrawa3.png)}
    90% {background-image: url(misc/strzalkaPrawa2.png)}
    100% {background-image: url(misc/strzalkaPrawa1.png)}
}

@keyframes catAppear {
    0% {background-image: url(misc/catappear2.png)}
    33% {background-image: url(misc/catappear3.png)}
    66% {background-image: url(misc/catappear4.png)}
    100% {background-image: url(misc/menucat1.png)}
}

@keyframes catAppearShop {
    0% {background-image: url(misc/shop.png)}
    25% {background-image: url(misc/shopcat4.png)}
    50% {background-image: url(misc/shopcat3.png)}
    75% {background-image: url(misc/shopcat2.png)}
    100% {background-image: url(misc/shopcat1.png)}
}

@keyframes catTalk {
    0% {background-image: url(misc/menucat1.png)}
    33% {background-image: url(misc/menucat1.png)}
    66% {background-image: url(misc/menucat2.png)}
    100% {background-image: url(misc/menucat3.png)} 
}

html, body
{
    overflow: hidden;
    user-select: none; 
}

body {
    background:url(misc/background5.png);
    margin:0;
}

.bodyEnd {
    background:url()
}

button {
    background-color: rgb(6, 136, 45);
    border: 4px solid #000000;
    color: #eeeeee;
    text-align: center;
    font-size: 35px;
    width: 300px;
    height: 70px;
    font-family: pixel;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: rgb(168, 1, 126);
}

span {
    font-family:pixel;
    font-size: 65px;
}

.combo {
    animation-name: combo;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0, 1, 0);
}


.logo {
    font-family: logo;
    line-height:20px;
}

.tekst {
    font-family:tekst;
    font-size:25px;
}


.container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu {
    position:absolute;
    margin-top: 1%;
    height: 850px;
    width: 750px;
    padding:14px;
    font-size:20px;
    background-color: rgb(224, 185, 138);
    background-image: url(misc/Ramka.png);
    text-align:center;
    font-family:tekst;
}

.menuSklep {
    position:absolute;
    margin-top: 1%;
    height: 850px;
    width: 750px;
    padding:14px;
    font-size:20px;
    background: rgb(224, 185, 138);
    background-image: url(misc/Ramka.png);
    text-align:center;
    font-family:tekst;
}

.menuPotion {
    margin-top:90px;
    margin-left:22px;
    position:absolute;
    display:flex;
    justify-content:space-between;
    flex-direction: row;
}

.greenPotion {
    border: rgb(71, 55, 9) 10px solid;
    width:200px;
    height:200px;
    background: url(misc/greenpotion.png);
    transition: background 0.1s;
}

.greenPotion:hover {
    background: url(misc/greenpotionselect.png);
    transition: background 0.1s;
}

.orangePotion {
    margin-left:22px;
    border: rgb(71, 55, 9) 10px solid;
    width:200px;
    height:200px;
    background: url(misc/orangepotion.png);
    transition: background 0.1s;
}

.orangePotion:hover {
    background: url(misc/orangepotionselect.png);
    transition: background 0.1s;
}

.purplePotion {
    margin-left:22px;
    border: rgb(71, 55, 9) 10px solid;
    width:200px;
    height:200px;
    background: url(misc/purplepotion.png);
    transition: background 0.1s;
}

.purplePotion:hover {
    background: url(misc/purplepotionselect.png);
    transition: background 0.1s;
}


.enemyRunLeft {
    animation: dogEnemyRunLeft 0.5s infinite;
}

.enemyRunRight {
    animation: dogEnemyRunRight 0.5s infinite;
}

.enemyGreenPotion {
    background-image: url(misc/dog/dogGreenPotion.png);
}

.dialogueBox {
    position: absolute;
    height:125px;
    width:750px;
    font-family:pixelDialogue;
    font-size: 25px;
    background-image:url(misc/Dialog.png);
    text-align:auto;
}

.marginDiv {
    width: 750px;
    height: 150px;
}

.menuCatStatic {
    position:relative;
    height:250px;
    width:100%;
    background: url(misc/menucat1.png)
}

.menuCatAppear {
    margin:0;
    position:relative;
    height:250px;
    width:100%;
    animation: catAppear 1s forwards;
}

.menuCatTalk {
    margin:0;
    position:relative;
    height:250px;
    width:100%;
    animation: catTalk 0.2s infinite;
}

.menuCatNone {
    margin:0;
    position:relative;
    height:250px;
    width:100%;
    background: url(misc/catappear2.png)
}


.sklep {
    margin:0;
    position:relative;
    height:250px;
    width:100%;
    animation: catAppearShop 1s forwards 
}

.points {
    width:100px;
    height:100px;
    animation: grassAnimation 1s forwards;
}

.cat {
    width:100px;
    height:100px;
    animation: catAnimation 0.2s forwards;
    pointer-events: none;
}

.points:hover {
    transform: scale(1.2);
    transition: all 0.1s;
}

#dogEnemy {
    position:absolute;
    width:100px;
    height:100px;
}

#myCanvas {
    position: absolute;
    top: 2.5%; left: 1%; right:5%;
    width: 70%; height: 95%;
    background:url(misc/gamebackground.png);
    border: 0.3vw rgb(78, 53, 25) solid;
}

#myScoreboard {
    position:absolute;
    left: 74%; top: 2.5%; right:5%;
    width: 23%; height: 65%;
    background: url(misc/scoreboard.png);
    border: 0.3vw rgb(78, 53, 25) solid;
}

#gameBackToMenu {
    position:absolute;
    left: 74%; top: 87.5%; right:5%;
    width: 23%; height: 10%;
    background: url(misc/scoreboard.png);
    border: 0.3vw rgb(78, 53, 25) solid;
    color: black;
    text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
    font-size:5vw;
    font-family: pixel;
    text-align:center;
}

#gamePotionStatus {
    position:absolute;
    display:flex;
    justify-content: space-evenly;
    left: 74%; top: 72.5%; right:5%;
    width: 23%; height: 10%;
    background: url(misc/scoreboard.png);
    border: 0.3vw rgb(78, 53, 25) solid;
    color: black;
}

#greenPotion {
    margin:5px;
    text-shadow: -5px 0 greenyellow, 0 5px greenyellow, 5px 0 greenyellow, 0 -5px greenyellow;
    font-size:5vw;
    font-family: pixel;
}
#orangePotion {
    margin:5px;
    text-shadow: -5px 0 orange, 0 5px orange, 5px 0 orange, 0 -5px orange;
    font-size:5vw;
    font-family: pixel;
}
#purplePotion {
    margin:5px;
    text-shadow: -5px 0 magenta, 0 5px magenta, 5px 0 magenta, 0 -5px magenta;
    font-size:5vw;
    font-family: pixel;
}

#theScore {
    color: black;
    text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
    font-size:5vw;
    font-family: pixel;
    text-align:center;
}

#theCats {
    color: black;
    text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
    font-size:5vw;
    font-family: pixel;
    text-align:center;
}

#myTimer {
    color: black;
    text-shadow: -5px 0 white, 0 5px white, 5px 0 white, 0 -5px white;
    font-size:5vw;
    font-family: pixel;
    text-align:center;
}

#endScore {
    color: black;
    font-size:4vw;
    font-family: pixel;
    text-align:center;
    background-color: rgb(190, 246, 164);
    animation-name: end;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#endCoins {
    color: black;
    font-size:4vw;
    font-family: pixel;
    text-align:center;
    opacity:0;
    background-color: rgb(255, 248, 154);
    animation-name: end;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#endCats {
    color: black;
    font-size:4vw;
    font-family: pixel;
    text-align:center;
    opacity:0;
    background-color: rgb(255, 180, 110);
    animation-name: end;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#backToMenu {
    opacity:0;
    font-size: 6vw;
    font-family: pixel;
    text-align:center;
    background-color: rgb(255, 206, 253);
    animation-name: end;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#strzalkaPrawoTrawy {
    margin-top:150px;
    animation: strzalkaPrawo 1s infinite forwards;
    width:50px;
    height:50px;
    margin-left:35px;
    display:inline-block;
}

#strzalkaLewoTrawy {
    animation: strzalkaLewo 1s infinite forwards;
    width:50px;
    height:50px;
    margin-right:35px;
    display:inline-block;
}
#strzalkaPrawoCzas {
    animation: strzalkaPrawo 1s infinite forwards;
    width:50px;
    height:50px;
    margin-left:35px;
    display:inline-block;
}

#strzalkaLewoCzas {
    animation: strzalkaLewo 1s infinite forwards;
    width:50px;
    height:50px;
    margin-right:35px;
    display:inline-block;
}

#strzalkaPrawoPies {
    animation: strzalkaPrawo 1s infinite forwards;
    width:50px;
    height:50px;
    margin-left:35px;
    display:inline-block;
}

#strzalkaLewoPies {
    animation: strzalkaLewo 1s infinite forwards;
    width:50px;
    height:50px;
    margin-right:35px;
    display:inline-block;
}

/* Utrudnienie rozgrywki dla cwaniaków, którzy używają niższej rozdzielczości ;--)*/
@media only screen and (max-width: 1750px) {
    .points {
        width:80px;
        height:80px;
        animation: grassAnimation 1s forwards;
    }
    .cat {
        width:100px;
        height:100px;
        animation: catAnimation 0.2s forwards;
        pointer-events: none;
    }
    
}

@media only screen and (max-width: 1300px) {
    .points {
        width:50px;
        height:50px;
        animation: grassAnimationSmall 1s forwards;
    }
    .cat {
        width:50px;
        height:50px;
        animation: catAnimationSmall 0.2s forwards;
        pointer-events: none;
    }
    
}

@media only screen and (max-width: 700px) {
    .points {
        width:30px;
        height:30px;
        animation: grassAnimationSmall 1s forwards;
    }
    .cat {
        width:60px;
        height:40px;
        animation: catAnimation 0.2s forwards;
        pointer-events: none;
    }
    
}